/upload
/cgi-bin
/local/vendor
/local/node_modules
/.vscode
/bitrix/*

webstat
*.zip
*.gz
*.tar
*.pdf
*.sql
*.log
*.mp3
*.svf
*.csv
*.xml
*.log
*.map

/*.xml
/*.yml
/*.csv

.idea
Thumbs.db
._.DS_Store
.DS_Store

!.gitlab-ci.yml
!.gitignore
.htaccess
.htaccess.restore
robots.txt
feed*.xml

error_log*
site.webmanifest
test.php
sitemap.xml
sitemap_iblock_*.xml
node_modules
*.raw
**.menu.php
!/bitrix/.settings_extra.php